@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("/assets/fonts/Montserrat-Bold.ttf");
}

* {
  -fx-font-family: "Montserrat";
  -fx-font-size: 18px;
}

.btn-join {
  -fx-background-color: #4bb9d8;
  -fx-text-fill: black;
  -fx-pref-width: 200px;
  -fx-background-radius: 8px;
}

.button:hover {
  -fx-opacity: 0.9;
}
